.title {
    padding-right:57px;
}
.description-box {
    height:auto;
}
.description {
    resize:vertical;
    min-height:100px;
    width:100%;
    border:0;
    outline:0;
}
.counter-title {
    line-height:34px;
    position:absolute;
    right:25px;
    bottom:0;
}
.counter-description {
    text-align:right;
}
.space-10 {
    height:10px;
}
.space-20 {
    height:20px;
}
.sidebar {
    width:240px;
}
.upload-box {
    line-height:138px;
    text-align:center;
    border:1px solid #ddd;
    cursor:default;
}
.preview {
    height:140px;
}
.preview-img {
    height:140px;
    width:140px;
}
.preview-big {
    height:180px;
    width:180px;
}
.preview-title {
    width:180px;
    max-width:180px;
    overflow:hidden;
}
.preview-description {
    width:180px;
    max-width:180px;
    overflow:hidden;
}


